html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}

body {
	line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0; 
	border-top: 1px solid #ce2020;
	/*margin: 1em 0;*/
	padding: 0;
}

input, select {
	vertical-align: middle;
}

/*-------------------------------Main code   INDEX ---------------------------------------------------------*/

.wrapper {
	height: 660px;
	width: 1350px;
}

header {
	height: 90px;
	width: 1420px;
	background-color: #8b4513;
	padding: 10px;
}

section {
	height: 550px;
	width: 1440px;
	background-color: grey;
}

footer {
	height: 100px;
	width: 1440px;
	background-color: #8b4513;
}

footer a {
	color: #ffffff;
}

.logo {
	float: left;
	padding-left: 20px;
}

.logo img {
	padding-left: 10px;
}

li a {
	color: #000000;
	text-decoration: none;
}

nav {
	float: right;
	word-spacing: 30px;
	padding: 20px;
}

nav li  {
	display: inline-block;
	line-height: 80px;
}

section .sec_img {
	height: 550px;
	margin-top: 0px;
	background-image: url("images/lib.jpg");
}

.box {
	height: 300px;
	width: 450px;
	background-color: #000103;
	margin: 70px auto;
	opacity: .6;
	color: #ffffff;
	line-height: 150px;
}

.box h1 {
	vertical-align: middle;
}

/*--------------------------------st_login-----------------------------*/

.log_img {
	height: 650px;
	margin-top: 0px;
	background-image: url("images/3.jpg");
}

.box1 {
	height: 350px;
	width: 400px;
	background-color: black;
	margin: 70px auto;
	opacity: .7;
	color: white;
	padding: 20px;
}

form .login {
	margin: auto 50px;
}

input {
	height: 25px;
	width: 300px;

}

/*------------------------------registration--------------------*/
.reg_img {
	height: 630px;
	margin-top: 0px;
	background-image: url("images/4.png");
}

.box2 {
	height: 589px;
	width: 400px;
	background-color: black;
	margin: 0px auto;
	opacity: .7;
	color: #ffffff;
	padding: 20px;
}

form.search input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}
  
form.search button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196F3;
	color: #ffffff;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}
  
form.search button:hover {
	background: #0b7dda;
}
  
form.search::after {
	content: "";
	clear: both;
	display: table;
}