* {
	box-sizing: border-box;
  }
  
  body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: rgb(245, 243, 243);
  }
  
  .header {
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
  }
  
  #navbar {
	overflow: hidden;
	background-color: #083b64;
  }
  
  #navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  #navbar a:hover {
	background-color: #20b2aa	;
	color: black;
  }
  
  #navbar a.active {
	background-color: #4682b4	;
	color: black;
  }
  
  .content {
	padding: 16px;
  }
  
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 60px;
  }
  
  .logo
  {
	  float :right;
	  padding-left: 100px;
  
  }
  .logo img 
  {
	  padding-left: 10px;
  }
  
  .hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/happy_holidays_snow.png");
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  
  .hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
  }
  
  .hero-text button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px 25px;
	color: black;
	background-color: #ddd;
	text-align: center;
	cursor: pointer;
  }
  
  .hero-text button:hover {
	background-color: #555;
	color: white;
  }
  
  
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
	float: left;
	width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
	width: 100%;
	padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
	 background-color: white;
	 padding: 20px;
	 margin-top: 20px;
	 position: relative;
	 width: 300px;
	 
	 border: 3px solid #083b64;
  
  }
  
  /* Add a card effect for articles */
  .card2 {
	 padding: 20px;
	 margin-top: 20px;
	 
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Footer */
  .footer {
	padding: 0;
	text-align: center;
	background: #083b64;
	margin-top: 0;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {   
	  width: 100%;
	  padding: 0;
	}
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
	float: left;
	width: 50%;
	padding: 10px;
	height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .box
  {
	height: 350px;
	width: 450px;
	background-color: white;
	opacity: .75;
	color: black;
	border-radius: 15px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border: 3px solid #083b64;
  }

  .boxc
  {
	height: 450px;
	width: 450px;
	background-color: white;
	opacity: .75;
	color: black;
	border-radius: 15px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border: 3px solid #083b64;
  }

  .boxb
  {
	height: 586px;
	width: 450px;
	background-color: white;
	opacity: .75;
	color: black;
	border-radius: 15px;
	padding-top: 50px;
	margin:auto;
	text-align:center;
	border: 3px solid #083b64;
  }
  
  
  #login-error-msg-holder {
	  width: 500px;
	  height: 18%;
	  display: grid;
	  justify-items: center;
	  align-items: center;
	}
  
	#login-error-msg {
	  width: 43%;
	  text-align: center;
	  margin: 20;
	  padding: 5px;
	  font-size: 12px;
	  font-weight: bold;
	  color: #8a0000;
	  border: 1px solid #8a0000;
	  background-color: #e58f8f;
	  opacity: 0;
	}
  
	#error-msg-second-line {
	  display: block;
	}
  
	#login-form {
	  align-self: flex-start;
	  display: grid;
	  justify-items: center;
	  align-items: center;
	}
	
	.login-form-field::placeholder {
	  color: black;
	  background-color:white;
	  font-size: 15px;
	}
	
	.login-form-field {
	  border: none;
	  border-bottom: 5px solid #3a3a3a;
	  margin-bottom: 5px;
	  border-radius: 3px;
	  outline: none;
	  width: 90%;
	  height: 50px;
	  padding: 10px 0px 5px 5px;
	}
	
	#login-form-submit {
	  width: 250px;
	  margin-top: 30px;
	  padding: 7px;
	  border: none;
	  border-radius: 5px;
	  color: white;
	  font-weight: bold;
	  background-color: #3a3a3a;
	  cursor: pointer;
	  outline: none;
	}
	#newGenre {
	  display: none;
  }
  
  #newPublisher {
	  display: none;
  }
  
  h1{
	text-align: center;
	
  }
  
  #result {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse; 
	width: 100%;
	text-align:center;
	border: 2px solid #083b64;
  }
  
  #result td, #result th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  #result tr:nth-child(even){background-color: #f2f2f2;}
  #result tr:nth-child(odd){background-color: white;}
  #result tr:hover {background-color: #ddd;}
  
  #result th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: D3EEFF;
	color: black;
  }
  
  #about{width:250px;height:50px;background:cyan;}
  #pagebox{background:yellow;display:none;}
  
  .showup{background:blue; display: inline-block; display:none; 
	position: absolute;
		z-index: 10;} 
	.click{cursor:pointer;}
  
  button.testbtn{
	background-color:blue; /* Green */
	border: none;
	color: white;
	padding: 15px 32px; 
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }
  .button-basic {
	background-color:  #083b64;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10%;
	width: 50%;

	
  }

  .button-basicb {
	background-color:  #083b64;
	border: 1px solid greenyellow;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10%;
	width: 50%;

	
  }